/*Styling body*/
body {
    background-color: #663399;
}

/*Styling navigation buttons and navigation bar*/
.navbar {
    padding: 0px 0px 0px 0px;
    background-color: #663399;
}
.nav {
    border: solid #663399;
}
.nav-pills .nav-link {
    background-color: #663399;
    color: white;
    text-shadow: 0 0 7px #fff, 0 0 20px #fff, 0 0 20px #ff0080, 0 0 20px #ff0080, 0 0 70px #ff0080;
    font-size: 100%;
    font-family: "Arial Rounded MT";
    font-optical-sizing: auto;
    margin: 0px 20px 0px 20px;
}
.nav-pills .nav-link.active {
        color: white;
        text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px #00ffff;
        background-color: #CF9FFF;
}
.AddB {
    background-color: #3C0949;
    color: white;
    text-shadow: 0 0 7px #fff, 0 0 20px #fff, 0 0 20px #ff0080, 0 0 20px #ff0080, 0 0 70px #ff0080;
    font-size: 20px; /* Adjust size as needed */
    padding: 15px;
    margin: 0px 20px 0px 20px;
}

/*Styling Logoname*/
.logoname,
.logoname:hover {
    color: white; 
    text-shadow: 0 0 7px #fff, 
    0 0 20px #fff, 
    0 0 20px #ff0080, 
    0 0 20px #ff0080, 0 0 70px #ff0080;
    font-size: 155%;
    font-family: "Dancing Script";
    font-optical-sizing: auto;
}

/*Styling description*/
.description {
    color: white;
    font-family: "Montserrat", sans-serif;
    text-shadow: 0 0 7px #fff, 0 0 20px #fff, 0 0 20px #ff0080, 0 0 20px #ff0080, 0 0 70px #ff0080;
    font-size: 150%;
    text-align: center;
    font-optical-sizing: auto;
}

